<div class="relative h-[200vh] bg-gray-100">
  <!-- Immagine fissa in alto -->
  <div class="sticky top-0 h-screen">
    <img src="home.jpg" 
         alt="Foto ristorante" 
         class="w-full h-full object-cover" />
  </div>

  <div class="relative h-screen bg-white clip-zigzag-top-bottom z-10 items-center justify-center grid grid-cols-3 gap-20">
    
    <div class="flex items-center justify-center col-span-2">
      <p class="text-amber-200">provaaaaaaaaaaaa</p>
    </div>

    <div class="flex items-center justify-center columns-2 gap-20">
      <img class="w-52 h-96 object-cover break-after-column" src="1.jpg" alt="">
      <img class="w-52 h-96 object-cover break-after-column" src="2.jpg" alt="">
    </div>
    
  </div>


  <!-- <div class="relative h-screen bg-white clip-zigzag-top-bottom z-10 flex items-center justify-center columns-3">
    <img class="max-w-md w-full h-auto object-cover break-after-column" src="1.jpg" alt="">
    <img class="max-w-md w-full h-auto object-cover break-after-column" src="2.jpg" alt="">
  </div> -->



</div>
